.container {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .category {
    width: 300px;
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  /* 나머지 스타일은 그대로 유지 */

  .serviceIcon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-right: 10px;
  }

.seeMoreButtonContainer {
  width: 100%;
  padding: 0 0px;
  margin-top: 15px;
}

.seeMoreButton {
  width: 100%;
  background-color: #d5d6d9;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.seeMoreButton:hover {
  background-color: #818181;
}

.categoryTitle {
  text-align: center;
  margin-bottom: 15px;
}
