.card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: white;
  width: 300px;
  height: 478.94px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.rank {
  font-weight: bold;
  color: #666;
}

.logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 15px;
}

.type {
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 10px;
  width: 70px;  /* 고정 너비 설정 */
  text-align: center;  /* 텍스트 중앙 정렬 */
  white-space: nowrap;  /* 텍스트 줄바꿈 방지 */
  overflow: hidden;  /* 넘치는 텍스트 숨김 */
  text-overflow: ellipsis;  /* 넘치는 텍스트를 ...으로 표시 */
}

.무료 {
  background-color: #E8F5E9;
  color: #4CAF50;
}

.유료 {
  background-color: #FFEBEE;
  color: #F44336;
}

.부분무료 {
  background-color: #FFF3E0;
  color: #FF9800;
}

.무료체험 {
  background-color: #FFFDE7;
  color: #FBC02D;
}

.rating, .category, .upvotes {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.visitButton {
  display: inline-block;
  padding: 10px;
  background-color: #d5d6d9;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}
